<h1>Editing remote_asset</h1>

<% form_for(@remote_asset) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :mime_from %><br />
    <%= f.text_field :mime_from %>
  </p>
  <p>
    <%= f.label :filename %><br />
    <%= f.text_field :filename %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @remote_asset %> |
<%= link_to 'Back', remote_assets_path %>
